body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
}


.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: rgb(200, 46, 46);
    font-size: 2rem;
}
.nav-link{
    color: black !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: black;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links{
    width: 100%;
}
.f-info-socials{
    width: 100%;
    size: 1.2rem;
    /* text-align: center; */
}
.f-info-socials i{
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: rgb(246, 244, 241);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


/* cards */
.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 500;
}

.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}